@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Inter', sans-serif;
}

.pointer{
    cursor: pointer !important;
}

.modal-box.gallery{
    max-width: 52rem !important;

}

::-webkit-scrollbar {
    width: 0.2em;
    background-color: transparent;
  }
  
  /* Track */
  ::-webkit-scrollbar-thumb {
  background-color: transparent; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent; 
  }